<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> APP.</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/styles.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <!-- fragment - Menú lateral-->
    <nav id="sidebar" th:insert="fragments/sidebar :: home-sidebar-menu"></nav>
    <!--Contenedor-->
    <div id="content" class="p-3 p-md-2">
        <!-- fragment - Menú superior-->
        <nav th:insert="fragments/menu :: menu-principal"></nav>
        <div class="row justify-content-center">
            <div class="card" style="width: 50rem !important;">

                <div>
                    <h4 class="card-header text-center bg-dark text-light">Crear Movimientos de Dinero</h4>
                </div>

                <div class="card-body">
                    <form th:action="@{${baseUrl}}" th:object="${movimiento}" method="post">
                        <div class="form-group">
                            <label>Concepto</label>
                            <input th:field="*{concepto}" class="form-control" type="text" placeholder="Ingrese concepto">
                        </div>
                        <div class="form-group">
                            <label>Monto</label>
                            <input th:field="*{monto}" class="form-control" type="text" placeholder="Ingrese monto">
                        </div>
                        <div class="form-group">
                            <label>idEmpresa</label>
                            <input th:field="*{idEmpresa.id}" class="form-control" type="text" placeholder="Ingrese Id de la Empresa">
                        </div>
                        <div class="form-group">
                            <label>idEmpleado</label>
                            <input th:field="*{idEmpleado.id}" class="form-control" type="text" placeholder="Ingrese Id del Empleado">
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pl-0">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                    <a href="/movimientos" class="btn btn-space btn-secondary">Cancel</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
    </div>
</div>
<!--Cierra Contenedor-->
</div>

<script th:src="@{/bootstrap/js/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/popper.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/main.js}"></script>
<script th:src="@{/tinymce/tinymce.min.js}"></script>
</body>