<div th:fragment="home-sidebar-menu">
    <div class="p-4 pt-5">
        <a id="imgSidebarCollapse" href="#" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
           aria-expanded="false" class="img logo rounded-circle mb-5" th:style="'background:url('+ @{/images/logo.png} +');'"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
            <li>
                <!--Colocar url get lista movimientos-->
                <a href="#">Ingresos y egresos</a>
            </li>
            <li>
                <!--Colocar url get lista usuarios-->
                <a href="#">Usuarios</a>
            </li>
            <li>
                <a th:href="@{/enterprises/obtener}">Empresas</a>
            </li>
        </ul>

        <div class="footer">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright ©
                <script>document.write(new Date().getFullYear());</script>
                rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</div>
