<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title></title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/styles.css}" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: menu-principal"></header>

<main role="main">
    <hr>
    <br>
    <br>
    <div class="col d-flex justify-content-center">
        <div class="card w-50">
            <h4 class="card-header text-center">Acerca de la aplicación<strong> Terra Software</strong></h4>
            <div class="card-body">
                <p>
                    <h4>Desarrollado por: </h4>
                </p>
            </div>
        </div>
    </div> <!-- /container -->
</main>

<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/scripts.js}"></script>
</body>
</html>
